/TCC/Library/*.log
Build
Temp
/TCC/.vs/*
ShaderCache
*.log
*.txt
/TCC/Library/assetDatabase3
/TCC/Library/*.txt
/TCC/Library/CrashedAssetImports.txt
*.log
*.txt
Library
QS
HomeStuff.meta
QS.meta
HomeStuff
